<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="pt-3 border-top">
        <!-- Mettre le footer ici fixed-bottom-->
        <footer class="blog-footer text-center">
            <p>2018 - PFMP - Author@ERJACK - ©Copyright</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>
        <!-- Fin footer -->

        <script type="text/javascript"
                src="/../webjars/bootstrap/4.0.0/js/bootstrap.js"></script>

        <script type="text/javascript"
                src="/../webjars/bootstrap/4.0.0/webjars-requirejs.js"></script>

        <script type="text/javascript"
                src="/../webjars/popper.js"></script>

        <script type="text/javascript"
                src="/../webjars/jquery/3.3.1/jquery.min.js"></script>

    </div>
</div>
</body>
</html>