<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: menu"/>

<!--<div class="container">-->
<div class="">

    <div class="starter-template">
        <h1 class="titlebody">index</h1>
    </div>
<!--
    <div id="centre" class="container blanc">
        <div id="divformulaire">
            <fieldset id="fldform">
                <legend id="lgd1"></legend>

                <form role="form" action="#">
                    <div class="form-group">
                        <label class="control-label" for="id">Identifiant</label>
                        <input type="text" class="form-control" id="id" name="login" maxlength="8" placeholder="indiquez votre identifiant">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="mdp">Mot de passe</label>
                        <input type="text" class="form-control" id="mdp" name="pwd" maxlength="8" placeholder="indiquez votre mot de passe">
                    </div>
                    <div class="text-center mb-3">
                        <button type="button" class="form-control btn btn-md btn-info" id="bouton">Valider</button>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
-->
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>