<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test populate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<h1>Test populate (à poursuivre) </h1>
<ul>
    <li> Nb niveaux = <span th:text="${niveaux}"/></li>
    <li> Nb disciplines = <span th:text="${disciplines}"/></li>
    <li> Nb divisions = <span th:text="${divisions}"/></li>
    <li> Nb individus = <span th:text="${individus}"/></li>
</ul>

</body>
</html>
